<h2>People</h2>
<div>
    <span>Total: {{data.people.total}}</span>
</div>
<div>
    <span>Available: {{data.people.free}}</span>
</div>
<h3>Resources</h3>
<div *ngFor="let key of data.resource | keys">
    <span *ngIf="data.resource[key] > 0">
        {{key | titlecase}}: {{data.resource[key]}}
    </span>
</div>
<h3>Robots</h3>
<div>
    <span>Explorers: {{data.overmind.autoExplore.people.total}}</span>
    <button (click)="dataService.assignPerson(data.people, data.overmind.autoExplore.people, 1)"
            [disabled]="data.people.free == 0">+</button>
</div>
<h3>Stats</h3>
<div>
    <strong>Explored</strong>
</div>
<div *ngFor="let key of data.stats.explored | keys">
    <span *ngIf="data.stats.explored[key] > 0">
        {{key}}: {{data.stats.explored[key]}}
    </span>
</div>
